.timing{
  width: 100%;
  //height: 700px;
  background: 50% 36px url("../images/main_photo_1.jpg") fixed;
  margin-top: 110px;
  padding-top: 30px;
  .time-down{
    margin-bottom: 40px;
    max-height: 250px;
  }
  .time-title{
    padding: 30px 0;
  }
  .time-header{
    color: white;
    font-size: 3em;
    font-family: courgette, Helvetica, sans-serif;
    margin: 0;
  }
  .timing-container{
    font-size: 50px;
    display: flex;
    gap: .5em;
    justify-content: center;

      .flip-card{
        position: relative;
        display: inline-flex;
        flex-direction: column;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
        border-radius: .1em;

        .top, .bottom, .top-flip, .bottom-flip{
          height: .75em;
          line-height: 1;
          padding: .25em;
          overflow: hidden;
        }
        .top, .flip-card .top-flip{
          background-color: #f7f7f7;
          border-top-right-radius: .1em;
          border-top-left-radius: .1em;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .bottom, .bottom-flip {
          background-color: white;
          display: flex;
          align-items: flex-end;
          border-bottom-right-radius: .1em;
          border-bottom-left-radius: .1em;
        }
        .top-flip {
          position: absolute;
          width: 100%;
          background: #f7f7f7;
          animation: flip-top 250ms ease-in;
          transform-origin: bottom;
        }
      }
      @keyframes flip-top {
        100% {
          transform: rotateX(90deg);
        }
      }
      .bottom-flip {
        position: absolute;
        bottom: 0;
        width: 100%;
        animation: flip-bottom 250ms ease-out 250ms;
        transform-origin: top;
        transform: rotateX(90deg);
      }
      @keyframes flip-bottom {
        100% {
          transform: rotateX(0deg);
        }
      }
    }
  .container-segment {
    display: flex;
    flex-direction: column;
    gap: .1em;
    align-items: center;

    .segment {
      display: flex;
      gap: .1em;
    }

    .segment-title {
      font-size: .5em;
    }
  }

  .about-us{
    margin: 30px auto;
    position: relative;

    .about-us-block{
      position: relative;
      background: white;
      padding: 30px 20px;
      line-height: 1.5em;
      margin: 30px;
      >div:first-child{
        border-bottom: 2px solid #f2f2f2;
        margin-bottom: 20px;
      }
      img{
        width: 120px;
        height: 120px;
        padding: 0;
        border-radius: 50%;
      }

    }

    .heart {
      position: absolute;
      width: 50px;
      top: 70px;
      z-index: 2;
      padding: 0;
      img{
        width: 100px;
        height: 100px;
        transform: translate(-25px);
      }
    }
  }
  .about-us:hover{
    @-webkit-keyframes pulse {
      25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
      }
      75% {
        -webkit-transform: scale(.95);
        transform: scale(.95)
      }
    }
    @keyframes pulse {
      25% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
      }
      75% {
        -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
        transform: scale(.95)
      }
    }
    .heart {
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-duration: .9s;
      animation-duration: .9s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite
    }
  }
}

.our-day{
  padding: 120px 20px 20px;
  margin: -120px auto 30px;

  .section-title{
    margin-bottom: 40px;
    font-family: courgette, Helvetica, sans-serif;
  }
}

.our-story{
  padding: 120px 20px 20px;
  margin: -120px auto 30px;

  .section-title{
    text-align: center;
    font-family: courgette, Helvetica, sans-serif;
    margin: 10px auto;
  }

  .story{
    position: relative;
    margin: 0 auto;
    padding: 20px;
    vertical-align: center;

    .story-image{
      width: 300px;
      height: 300px;
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      border-radius: 50%;

      img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        transition: .5s;
      }
      img:hover, img:focus{
        transform: scale(1.1);
      }
    }
    .story-middle{
      display: flex;
      justify-content: center;
      align-items: center;
      .story-date{
        width: 90px;
        height: 90px;
        padding: 20px 0;
        z-index: 1;
        vertical-align: center;
        color: white;
        background: url("../images/heart_img_story.png") no-repeat center/90px;
        .year{
          font-family: courgette, Helvetica, sans-serif;
          font-size: 1.5rem;
        }
      }
    }

    .story-info{
      display: flex;
      h3{
        font-family: courgette, Helvetica, sans-serif;

      }
    }
    .vertical-line {
      position: absolute;
      background-color: #eee;
      width: 1px;
      height: 100%;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
      z-index: 0
    }
  }
}

.gallery{
  padding: 120px 20px 20px;
  margin: -120px auto 30px;
  background-color: #fcfcfc;
  h2{
    font-family: courgette, Helvetica, sans-serif;
    margin: 10px auto;
  }
  .gallery-image{
    position: relative;
    padding: 10px;

    .item-caption{
      position: absolute;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      top: 10px;
      left: 10px;
      background-color: rgb(0, 0, 0, .5);
      transition: .5s;
    }
    .item-caption:hover{
      background: none;
    }
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rsvp{
  padding: 120px 20px 20px;
  margin: -120px auto 30px;

  .section-title{
    font-family: courgette, Helvetica, sans-serif;
    margin: 30px auto;
  }
  .rsvp-form{
    margin: 30px auto;
    .form-text{
      color: #999;
    }
    *::placeholder{
      color: #ccc;
    }
  }
}

@media all and (max-width: 1000px) {
  .timing{
    margin-top: 100px;
    .time-down{
      max-height: 200px;
    }
    .time-title{
      max-height: 50px;
      padding: 0;
    }
    .time-header{
      font-size: 5vw;
    }
    .timing-container{
      margin-top: 0;
      font-size: 7vw;
    }
    .about-us{
      .heart{
        top: calc(50% - 35px);
      }
    }
  }
  .our-story{
    .story{
      .story-image{
        width: 30vw;
        height: 30vw;
      }
    }
  }
}
@media all and (max-width: 720px) {
  .timing{
    margin-top: 60px;
    .about-us{
      .heart{
        top: calc(50% - 20px);
      }
    }
  }
  .our-story{
    .story{
      .story-image{
        width: 50vw;
        height: 50vw;
      }
      .vertical-line{
        display: none;
      }
    }
  }
  .gallery{
    .gallery-image{
      .item-caption{
        display: none;
      }
    }
  }
}







































