h1, h2, h3{
  text-align: center;
}
.story-card{
  margin-top: 60px;
  .story-title{
    position: relative;
    h1{
      font-size: 2.2rem;
    }
    .edit-btn{
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
}
.detail-img {
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    object-fit: cover;
  }
}
.card-nav{
  .list-group-item{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
    .card-header{
      font-size: 1.2em;
    }
}
.story-nav{
  margin: 20px auto;
  .card{
    padding: 0;
  }
}


@media all and (min-width: 1000px) {
  .story-card{
    margin-top: 110px;
  }
  .story-nav {
    margin: 150px auto;
  }
  .detail-img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    img{
      width: 100%;
      height: 100%;
      opacity: .8;
      object-fit: cover;
    }
  }
  .detail-img::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,1) 80%);
    z-index: 1;
  }
}