{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reset.css'  %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylesheet %} {% endblock %}
</head>
<body>
    <!--Header-->
    <header class="header">
        <div class="container">
            <div class="logo-container">
                <div class="header-logo">zh <span class="main-color">&amp;</span> mxh</div>
            </div>

            <div class="header-date mobile-hidden">
                <p>Sunday, 27 <span class="main-color"> November </span> 2022 </p>
            </div>
            <a class="menu-toggle mobile-visible">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <!--Header-->

    <!-- Site Navigation -->
    <nav class="navbar main-nav d-none d-md-flex">
        <div class="container ">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'love_record:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-day">Our Day</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-story">Our Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-gallery">Gal lery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#events">Wedding Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rsvp">RSVP</a>
                </li>
            </ul>
        </div>
    </nav>

{% block main %} {% endblock %}
{% block jsfile %} {% endblock %}
</body>
</html>