{% extends 'love_record/base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'css/story/story_form.css' %}">
{% endblock %}

{% block main %}
<div class="container story_form">
    <form class="row" action="" method="post" enctype="multipart/form-data"> <!--form这里一定要有 enctype="multipart/form-data" ，否则无法上传图片-->
        {% csrf_token %}
        <div class="basic col-lg-6 offset-lg-3">
            <div class="m-3">
                <input class="form-check-input" name="visible" type="checkbox" {% if story.visible %}checked{% endif %}  value='True' id="public">
                <label class="form-check-label" for="public">
                    是否公开
                </label>
            </div>
            <div class="input-group mb-3 story-title">
                <span class="input-group-text">故事标题</span>
                <input type="text" name="story_title" value="{{ story.story_title }}" maxlength="128" required class="form-control ps-4" placeholder="故事标题">
            </div>
            <div class="input-group mb-3 story-time">
                <label class="input-group-text">故事时间</label>
                <input type="datetime-local" name="story_time" value="{{ story.story_time|date:'Y-m-d\TH:i' }}" required min="2022-11-27T19:26" max="{{ max_time|date:'Y-m-d\T23:59' }}" class="form-control ps-4">
            </div>
            <div class="col-md-8 offset-md-2">
                <img class="img-fluid rounded" id="show-img"  src="{{ story.story_img.url }}" alt="">
            </div>
            <div class="input-group my-3">
                <input type="file" accept="image/*" name="story-img" id="story-img" value="{{ story.story_img }}" class="form-control">
                <button class="btn btn-outline-secondary px-4" type="button" id="img-btn">重置</button>
            </div>
        </div>
        <div class="content mb-5">
            {{ story_form.media }}
            {% for field in story_form %}
                <div class="input-group mb-3">
                    <label class="input-group-text">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            
        </div>
        <div>
            <input type="submit" class="btn btn-info float-end px-4 text-white mb-3">
        </div>
    </form>
</div>

{% endblock %}


{% block jsfile %}
<script>
    let show_img = document.querySelector('#show-img');
    let img_input = document.querySelector('#story-img');
    let img_btn = document.querySelector('#img-btn');
    const base_url = show_img.getAttribute('src')
    img_input.addEventListener('change', (e) => {
        const img = e.target.files[0];
        let reader = new FileReader();
        reader.onloadend = () => {
            console.log(reader.result)
            show_img.setAttribute('src', `${reader.result}`);
        }
        if (img){
            reader.readAsDataURL(img)
        }
    })
    img_btn.addEventListener('click', () => {
        show_img.setAttribute('src', base_url);
        img_input.value = '';
    })
</script>
{% endblock %}
