<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/gallery.css">
</head>
<body>
    <div id="our-gallery" class="gallery container-fluid row">
        <div class="gallery-title text-center">
            <h1>Our Gallery</h1>
        </div>

        <div class="gallery-image col-lg-3 col-md-4 col-sm-6">
            <div class="item-caption"></div>
            <img src="http://img.netbian.com/file/2023/0223/232009Zt4AH.jpg" alt="">
        </div>
        <div class="gallery-image col-lg-3 col-md-4 col-sm-6">
            <div class="item-caption"></div>
            <img src="http://img.netbian.com/file/2023/0223/232009Zt4AH.jpg" alt="">
        </div>
        <div class="gallery-image col-lg-3 col-md-4 col-sm-6">
            <div class="item-caption"></div>
            <img src="http://img.netbian.com/file/2023/0223/232009Zt4AH.jpg" alt="">
        </div>
    </div>
</body>
</html>